<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jeff-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-down-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-fall-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>jeff-fall-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>jeff-fall-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>jeff-fall-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>jeff-fall-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,52},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>jeff-fall-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,52},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>jeff-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>jeff-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,52},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>jeff-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,52},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>jeff-left-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,52},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>jeff-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>jeff-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,102},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>jeff-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,102},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>jeff-right-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,102},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>jeff-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,102},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,102},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-up-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,102},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>trainjeff-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>trainjeff-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>trainjeff-down-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,152},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>trainjeff-fall-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,152},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>trainjeff-fall-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>trainjeff-fall-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>trainjeff-fall-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>trainjeff-fall-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>trainjeff-fall-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,202},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>trainjeff-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,202},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>trainjeff-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,202},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>trainjeff-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,202},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>trainjeff-left-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>trainjeff-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,252},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>trainjeff-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,252},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>trainjeff-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,252},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>trainjeff-right-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,252},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>trainjeff-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>trainjeff-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,302},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>trainjeff-up-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>greendale.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25930b02daf4c720f113fd744a4787ed:a27c9de722f1aa16bfc11cca3a9afd1c:aca9f5cf1f81770a1399d90fff8d177d$</string>
            <key>textureFileName</key>
            <string>greendale.png</string>
        </dict>
    </dict>
</plist>
