<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jeff-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,149},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,100},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-down-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,51},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-fall-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>jeff-fall-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>jeff-fall-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>jeff-fall-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,202},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>jeff-fall-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>jeff-fall-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>jeff-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>jeff-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,96},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>jeff-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,190},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>jeff-left-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>jeff-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,49},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>jeff-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,49},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>jeff-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,143},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>jeff-right-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,198},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>jeff-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,151},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>jeff-up-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,102},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jeff.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75549e955b7b079208130ccd6e7aea0:46a82894c4c279b6e13c36d87299639d:77a8f9686b7c00eb14e43cfea225b304$</string>
            <key>textureFileName</key>
            <string>jeff.png</string>
        </dict>
    </dict>
</plist>
